body {
    background-color: rgb(199, 199, 199);
}

.container {
    padding-top: 20px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

#button {
    margin-top: 30px;
    font-size: 15px;
    border-radius: 5px 5px;
    padding: 5px 40% 5px 20px;
    line-height: normal;
}
ul {
    margin-top: 20px;
}
.nav-link {
    color: black;
    margin-top: 3px;
}

.bottom-text {
    font-size: 12px;
}

#column2{
    background-color: rgb(255, 255, 255);
}

hr {
    width: 102%;
}

#search-bar {
    border-radius: 5px 5px;
    margin-top: 20px;

}

.sender-name {
    font-weight: bold;
    font-size: 14px;
}

.subject {
    font-weight: bold;
    font-size: 12px;
}

.message-text {
    font-size: 11px;
}

.date {
    color: rgb(116, 117, 117);
    float: right;
    font-size: 12px;
}

#column3 {
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
    border-left: solid;
    border-color: rgb(199,199,199);
    padding-top: 15px;    
}

.bodysubject{
    padding-top: 20px;
    color: black;
    font-weight: 500;
}

.bodyemail {
    color: black;
    font-weight:600;
    font-size: large;
}